z="
";uz='[Ins';CBz='targ';kz='ges=';Kz='vice';sz='t.vm';Xz='netw';cz='t';Ez='ion=';xz='edBy';bz='arge';dz='[Ser';Mz='ment';Fz='Limi';lz='true';Tz='r=sy';Nz='atio';Wz='get ';Uz='slog';az='ne.t';Dz='ript';Zz='onli';vz='tall';Az='[Uni';Bz='t]';Vz='.tar';Qz='rTun';Cz='Desc';gz='=roo';hz='NoNe';pz='tc/x';Jz=' Ser';qz='ray/';oz='t=/e';Pz='ghte';Iz='Xray';fz='User';mz='Exec';Oz='n=Fi';rz='limi';Sz='Afte';yz='=mul';Hz='age ';ABz='ti-u';Rz='nel';iz='wPri';tz='ess';DBz='et';Lz='Docu';Gz='t Us';ez=']';BBz='ser.';jz='vile';wz='Want';nz='Star';Yz='ork-';
eval "$Az$Bz$z$Cz$Dz$Ez$Fz$Gz$Hz$Iz$Jz$Kz$z$Lz$Mz$Nz$Oz$Pz$Qz$Rz$z$Sz$Tz$Uz$Vz$Wz$Xz$Yz$Zz$az$bz$cz$z$dz$Kz$ez$z$fz$gz$cz$z$hz$iz$jz$kz$lz$z$mz$nz$oz$pz$qz$rz$sz$tz$z$uz$vz$ez$z$wz$xz$yz$ABz$BBz$CBz$DBz"