z="
";hz='NoNe';CBz='ti-u';Kz='vice';Iz='Xray';Mz='ment';FBz='et';Jz=' Ser';qz='ray/';pz='tc/x';iz='wPri';Vz='.tar';Yz='ork-';cz='t';EBz='targ';Sz='Afte';ez=']';Uz='slog';ABz='edBy';fz='User';uz='sock';Nz='atio';jz='vile';sz='t.sh';Wz='get ';BBz='=mul';nz='Star';Tz='r=sy';Bz='t]';bz='arge';lz='true';yz='Want';Fz='Limi';Pz='ghte';Az='[Uni';Dz='ript';oz='t=/e';Zz='onli';mz='Exec';vz='s';Oz='n=Fi';gz='=roo';Lz='Docu';Hz='age ';Qz='rTun';dz='[Ser';Rz='nel';rz='limi';Gz='t Us';Cz='Desc';DBz='ser.';xz='tall';Ez='ion=';kz='ges=';wz='[Ins';Xz='netw';az='ne.t';tz='adow';
eval "$Az$Bz$z$Cz$Dz$Ez$Fz$Gz$Hz$Iz$Jz$Kz$z$Lz$Mz$Nz$Oz$Pz$Qz$Rz$z$Sz$Tz$Uz$Vz$Wz$Xz$Yz$Zz$az$bz$cz$z$dz$Kz$ez$z$fz$gz$cz$z$hz$iz$jz$kz$lz$z$mz$nz$oz$pz$qz$rz$sz$tz$uz$vz$z$wz$xz$ez$z$yz$ABz$BBz$CBz$DBz$EBz$FBz"