z="
";Hz='age ';Wz='get ';fz='User';Xz='netw';dz='[Ser';xz='edBy';cz='t';Sz='Afte';CBz='targ';Rz='nel';vz='tall';hz='NoNe';Oz='n=Fi';Gz='t Us';uz='[Ins';Bz='t]';Pz='ghte';lz='true';Az='[Uni';tz='ess';Dz='ript';wz='Want';sz='t.vl';Ez='ion=';pz='tc/x';gz='=roo';kz='ges=';Uz='slog';DBz='et';Jz=' Ser';bz='arge';Mz='ment';Vz='.tar';Cz='Desc';mz='Exec';oz='t=/e';Zz='onli';Tz='r=sy';nz='Star';Yz='ork-';ez=']';az='ne.t';iz='wPri';Qz='rTun';ABz='ti-u';yz='=mul';jz='vile';rz='limi';Lz='Docu';BBz='ser.';Nz='atio';Iz='Xray';Fz='Limi';Kz='vice';qz='ray/';
eval "$Az$Bz$z$Cz$Dz$Ez$Fz$Gz$Hz$Iz$Jz$Kz$z$Lz$Mz$Nz$Oz$Pz$Qz$Rz$z$Sz$Tz$Uz$Vz$Wz$Xz$Yz$Zz$az$bz$cz$z$dz$Kz$ez$z$fz$gz$cz$z$hz$iz$jz$kz$lz$z$mz$nz$oz$pz$qz$rz$sz$tz$z$uz$vz$ez$z$wz$xz$yz$ABz$BBz$CBz$DBz"